html, body, #root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: sans-serif; 
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
    background: #111;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}  

.error-message{
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    padding: 5px;
    background-color: #ffe4e4;
    margin-top: 5px;
    margin-bottom: 5px;
}

.map-context-menu{
    width: 300px;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.popup-container{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 600px;
    margin-left: -400px;
    margin-top: -300px;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    z-index: 5;
    padding: 10px;
}

.lower-right{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.lower-left{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.upper-right{
    position: absolute;
    right: 10px;
    top: 10px;
}

.calculator-summary{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.calculator-summary .card {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.calculator-summary .card-header{
    font-weight: bold;
}

.link-container a{
    margin-right: 10px;
}

.station-list-container tr{
    cursor: pointer;
}

.sidebar{
    position: absolute;
    z-index: 1;
    padding: 10px;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 300px;
    top: 0;
    bottom: 40px;
}

.sidebar-block{
    padding-top: 20px;
    height: 100%;
}

.layer-picker{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.layer-picker .disabled{
    color: gray;
    pointer-events: none;
}

.station-editor{
    width: 100%;
}

.station-editor button{
    width: 100%;
    margin-bottom: 5px;
}

.main-menu button{
    margin-right: 5px;
}

table tr:hover{
    background-color: #c0c0c0;
    cursor: pointer;
}

.discrete{
    opacity: 0.5;
}

.discrete:hover{
    opacity: 1;
}

.help-text{
    cursor: pointer;
    display: inline-block;
}

.help-text *{
    display: inline-block;
}

h1, h2, h3, h4, h5, h6{
    width: fit-content;
}

.form-label{
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.sidebar-content-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-content-buttons{
    flex: 0 1;
}

.sidebar-content-controls{
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
}