body {
  margin: 0;
  font-family: sans-serif; 
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
  background: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
